<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Catalogue de formations</h1>
      <p class="lead text-muted">FormaBook recense les meilleurs formations disponibles en France. Mais c'est avant tout une application démo créée par les équipes de LiveMentor et du Wagon qui est utilisée pour des séssions de live coding !</p>
      <%# <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p> %>
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <% if @courses.empty? %>
      <p class="text-muted text-center lead">
        Aucune formation :(
      </p>
    <% else %>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @courses.each do |course| %>
          <div class="col">
            <div class="card shadow-sm">
              <%# <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> %>
              <div class="p-3 d-flex align-items-center" style="min-height: 225px;">
                <%= image_tag(course.thumbnail_url, class: 'w-100') %>
              </div>
              <div class="card-body">
                <h5 class="card-title"><%= course.title %></h5>
                <p class="card-text"><%= course.description %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <%# <button type="button" class="btn btn-sm btn-outline-secondary">View</button> %>
                    <%# <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> %>
                  </div>
                  <%# <small class="text-muted">9 mins</small> %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
