<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Catalogue de formations</h1>
      <p class="lead text-muted">FormaBook recense les meilleurs formations disponibles en France. Mais c'est avant tout une application démo créée par les équipes de LiveMentor et du Wagon utilisée lors de sessions de live coding !</p>
      <%# <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p> %>
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <% if @courses.empty? %>
      <p class="text-muted text-center lead">
        Aucune formation :(
      </p>
    <% else %>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @courses.each do |course| %>
          <%= render CourseCardComponent.new(course: course) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
